.contact {
  height: 100vh;
}
.contact-bg {
  width: 20px;
  height: 100%;
  background-color: green;
  position: absolute;
}
.contact-wrapper {
  display: flex;
  padding: 50px;
}
.contact-left {
  flex: 1;
}
.contact-right {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fa-phone-square-alt::before {
  font-size: 3rem;
}
.c-title {
  font-size: 3rem;
}
form {
  margin-top: 20px;
}
input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0;
  font-size: 1rem;
  padding-left: 10px;
}
textarea {
  width: 100%;
  margin: 10px 0;
  font-size: 1rem;
  padding-left: 10px;
}
button {
  border: none;
  padding: 15px;
  background-color: green;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
